name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: test_mask_and_classify_scores.py
      id: test_mask_and_classify_scores-py
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 10
        max-score: 15
        setup-command: pip install pytest numpy
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        TEST_MASK_AND_CLASSIFY_SCORES-PY_RESULTS: "${{steps.test_mask_and_classify_scores-py.outputs.result}}"
      with:
        runners: test_mask_and_classify_scores-py
